/* styling div wrapping card lowongan */
.wrap-card-lowongan{
  max-width: 1200px;
  margin: 30px auto 60px auto;
  padding: 0 0 0 0;
}

/* styling yg berhubungan dengan slider */
.slick-slide > div {
  display: grid;
  place-items: center;
  padding: 0px;
}

.slick-list{
  height: 645px;
}

.slick-dots{
  bottom: -50px !important;
}

.slick-dots .slick-active button::before{
  color: var(--main-color) !important;
  font-size: 15px;
  font-weight: bold;
  opacity: 1 !important;
}
/* end styling yg berhubungan dengan slider */

/* Responsive Breakpoints */
/* for tablet */
@media screen and (max-width: 768px){
  .wrap-card-lowongan {
    padding-left: 0;
  }
}

/* for mobile */
@media screen and (max-width: 576px){
  .slick-list{
    height: 590px;
  }
}