.jobInfoVacancy .imgVacancy img {    
	height: 720px;
    width: 720px; 	
	padding-top: 30px;
}
.detailJob h2 {
	margin-top: 0;
	color: #17479D;
}
.detailJob h3 {
	margin-top: 20px;
	margin-bottom: 10px;
	color: #17479D;
}
.detailJob ul {
	margin: 0;	
}
.detailJob ul li {
	margin-bottom: 10px;
    list-style: none;
}
.detailJob a {
	display: inline-block;
	background-color: #17479D;
	color: #fff;
	padding: 10px 20px;
	margin-top: 20px;
	border-radius: 5px;
	text-decoration: none;
}
.jobInfoVacancy{
    width: 720px;
    margin: 0 auto;
}
/* table */
.jobInfoVacancy .detailJob table {
    width: 100%;    
    border: none;
}
.jobInfoVacancy .detailJob .job-info tr td {    
    vertical-align: middle;
    border: none;
}
.jobInfoVacancy .detailJob .job-info tr td i {
    font-size: 24px;    
    border: none;
}
.jobInfoVacancy .detailJob .description{
    margin-top: 20px;
    margin-bottom: 20px;
}
.jobInfoVacancy Button{
	display: inline-block;
	background-color: #17479D;
	color: #fff;
	padding: 10px 20px;
	margin-top: 20px;
	border-radius: 5px;
	text-decoration: none;
}