.dash-head {
  background-color: #fff;
  display: flex;
  align-items: center;
  padding: 10px;
  justify-content: space-between;
  color: var(--main-color);
  /* position: sticky; */
  /* top: 0; */
  box-shadow: 0px 2px 25px rgba(157, 157, 157, 1);
}

.dash-head .dash-logo {
  font-size: 1.1em;
}

.dash-head .dash-dropdown button {
  /* background-color: red; */
  font-size: 1em;
  font-weight: bold;
  display: flex;
  align-items: center;
  gap: 0 10px;
}
