/* div wrapping navbar untuk membuat navbar selalu berada di layer pertama */
.wrap-nav{
  position: relative;
  z-index: 999;
}

/* container navbar */
.navbar{
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px 20px 0 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

/* logo app */
.navbar .nav-logo img{
  width: 200px;
}

/* navbar link */
.navbar .nav-link{
  display: flex;
  gap: 0 30px;
  justify-content: space-between;
  align-items: center;
}

/* navbar link container */
.navbar .nav-link ul {
  display: flex;
  gap: 0 10px;
  justify-content: space-between;
}

/* navbar link unit */
.navbar .nav-link ul li {
  list-style-type: none;
  font-size: .9em;
}

/* navbar link href */
.navbar .nav-link ul li a {
  padding: 25px 10px 25px 10px;
  color: black;
  text-decoration: none;
  transition: .3s;
}

/* navbar link href ketika di hover */
.navbar .nav-link ul li a:hover{
  color: var(--hover-color);
  text-decoration: underline;
  text-decoration-color: black;
}

/* navbar link button container */
.navbar .nav-link .nav-button{
  display: flex;
  gap: 0 15px;
  justify-content: space-between;
}

/* navbar link href unit */
.navbar .nav-link .nav-button a{
  padding: 8px 35px 8px 35px;
  background-color: var(--main-color);
  border: 1px solid var(--main-color);
  cursor: pointer;
  color: white !important;
  font-size: .9em;
  border-radius: 5px;
  outline: none;
  transition: .3s;
  font-weight: 500;
  text-decoration: none !important;
}

/* navbar link unit ketika di hover */
.navbar .nav-link .nav-button a:hover{
  background-color: white;
  color: var(--main-color) !important;
  border: 1px solid var(--main-color);
}

/* navbar hamburger menu */
.nav-hamburger{
  display: none;
}

/* navbar versi mobile phone */
.mobile-nav{
  display: none;
}

/* sticky navbar ketika di scroll */
.sticky-nav {
  position: fixed;
  top: 0;
  padding-bottom: 10px;
  background-color: white;
  width: 100%;
  box-shadow: 0px 2px 25px rgba(157, 157, 157, 0.3);
}

/* kalo navbar active */
.active{
  color: var(--main-color) !important;
  font-weight: bold;
  text-decoration: underline !important;
  text-decoration-color: black;
}

/* Responsive Breakpoints */
/* for tablet */
@media screen and (max-width: 768px){
  .navbar .nav-link {
    display: none;
  }

  /* styling untuk hamburger menu navbar */
  .nav-hamburger{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 4.5px 0;
    background-color: var(--main-color);
    width: 35px;
    height: 35px;
    border-radius: 5px;
  }

  /* hamburger menu ketika di hover */
  .nav-hamburger:hover{
    cursor: pointer;
  }

  /* hamburger menu unit */
  .nav-hamburger div{
    width: 20px;
    height: 2px;
    background-color: white;
  }

  /* ubah warna logo close di hamburger menu */
  .nav-hamburger .close-mobile-nav path{
    stroke: white !important;
  }

  /* styling navbar versi mobile phone */
  .mobile-nav{
    display: block;
    background-color: white;
    width: 50vw;
    height: 100vh;
    padding: 20px 20px 0 10px;
    position: absolute;
    right: 0;
    transform: translateX(2000px);
  }

  /* memunculkan navbar versi mobile phone */
  .show-mobile-nav{
    transform: translateX(0);
  }

  /* styling navbar versi mobile phone bagian link container */
  .mobile-nav .mobile-nav-link {
    display: flex;
    flex-direction: column;
    gap: 10px 0;
    margin-bottom: 20px;
  }

  /* styling navbar versi mobile phone bagian link unit */
  .mobile-nav .mobile-nav-link a{
    padding: 13px;
    text-align: center;
    text-decoration: none !important;
    font-weight: normal;
    transition: .3s;
    font-size: .9em;
    background-color: var(--main-color);
    color: white !important;
  }

  /* styling navbar versi mobile phone bagian button container */
  .mobile-nav .mobile-nav-btn{
    display: flex;
    flex-direction: column;
    gap: 15px 0;
  }

  /* styling navbar versi mobile phone bagian button href unit */
  .mobile-nav .mobile-nav-btn a{
    padding: 10px 0 10px 0;
    background-color: white;
    border: 1px solid var(--main-color);
    cursor: pointer;
    color: black;
    font-size: .9em;
    outline: none;
    font-weight: 500;
    text-align: center;
    text-decoration: none !important;
  }
}

/* for mobile */
@media screen and (max-width: 576px){
  .navbar .nav-logo img{
    width: 180px;
  }

  .mobile-nav .mobile-nav-link a{
    font-size: .8em;
  }

  .mobile-nav .mobile-nav-btn button{
    font-size: .8em;
  }
}